body {
    background: linear-gradient(90deg, rgb(209, 205, 205), rgb(99, 159, 254));
}

#hiragana_symbol {
    /* I have no idea what these 3 lines do... but they seem to center my div! */
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-family: serif;
    font-size: 100px;
    border: 0.05em double rgb(47, 47, 173);
    border-radius: 10px;
    width: 30%;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

#usage_message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    margin: 0px;
    margin-top: 4%;
}

#user_guess {
    /* I have no idea what these 3 lines do... but they seem to center my div! */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    border: 3px double black;
    margin: 0px auto;
    margin-top: 2%;
    padding: 2px;
    width: 20%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 30px;
    margin: 3%;
    padding: 4%;
    height: 50px;
    color: rgb(255, 245, 245);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
}

#submit_button, #change_cggharacter_button, #hint_button {
    border: 2px solid black;
}

#submit_button:hover, #change_character_button:hover, #hint_button:hover {
    background-color: rgba(65, 0, 200, 10%);
}
